.login {
    max-width: 400px;
    margin: 80px auto;
}

.login__title {
    text-align: center;
    margin-bottom: 32px;
}

.login label {
    display: block;
    margin-top: 16px;
}

.login input {
    width: 100%;
    height: 36px;
    margin-top: 4px;
}

.login__submit {
    width: 100%;
    height: 44px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    margin-top: 24px;
}

.login__link {
    text-align: center;
    margin-top: 16px;
}

.login__error {
    color: red ;
    font-size: 13px;
    margin-top: 4px;
}